# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
max_line_length = 100

# 2 space indentation for configs and data files
[*.{yml,yaml,json,toml,ini}]
indent_size = 2

# Tab indentation (no size specified) for Makefiles
[Makefile]
indent_style = tab

# Terraform files
[*.tf]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Batch files
[*.{cmd,bat}]
end_of_line = crlf

# Don't trim trailing whitespace in patch files
[*.patch]
trim_trailing_whitespace = false
